<!DOCTYPE html>
<html lang="en">
<head>
    
<title>Забава - конкурсы, вечера, дни рождения</title>
<meta name="google-site-verification" content="-XKruFby60EVPxgfB7qHXrX6cC7Ih8dPWf0T9gmL9BA" />
<meta charset="utf-8">
<meta name="description" content="Организация праздников, вечеринок, дней рождения и свадеб">
<meta name = "format-detection" content = "telephone=no" />
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<link rel="icon" href="static/images/favicon.ico">
<link rel="shortcut icon" href="static/images/favicon.ico" />
<link rel="stylesheet" href="static/css/touchTouch.css">
<link rel="stylesheet" href="static/css/style.css">
<script src="static/js/jquery.js"></script>
<script src="static/js/jquery-migrate-1.1.1.js"></script>
<script src="static/js/jquery.easing.1.3.js"></script>
<script src="static/js/script.js"></script> 
<script src="static/js/superfish.js"></script>
<script src="static/js/jquery.equalheights.js"></script>
<script src="static/js/jquery.mobilemenu.js"></script>
<script src="static/js/tmStickUp.js"></script>
<script src="static/js/jquery.ui.totop.js"></script>
<script src="static/js/touchTouch.jquery.js"></script>
<script src="static/js/jquery.shuffle-images.js"></script>

<script>
  $(window).load(function(){
    $().UItoTop({ easingType: 'easeOutQuart' });
    $('.gallery .info').touchTouch();
  }); 

   $(document).ready(function(){
       $(".shuffle-me").shuffleImages({
         target: ".images > img"
       });
    });
</script>
<!--[if lt IE 8]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/static/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<![endif]-->
<!--[if lt IE 9]>
<script src="static/js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="static/css/ie.css">
<![endif]-->
</head>

<body class="page1" id="top">
  <div class="main">
<!--==============================
              header
=================================-->
<header>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h1>
          <a href="index.html">
            <img src="static/images/logo.png" alt="Забава">
          </a>
        </h1>
        <div class="navigation ">
          <nav>
            <ul class="sf-menu">
             <li class="current"><a href="index.html">Главная</a></li>
             <li><a href="about.html">Кто же мы</a></li>
             <li><a href="services.html">Услуги</a></li>

             <li><a href="contacts.html">Контакты</a></li>
           </ul>
          </nav>
          <div class="clear"></div>
        </div>       
      </div>
    </div>
  </div>
</header>
<!--=====================
          Content
======================-->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="page1_block">
        <div class="grid_6">
          <img src="static/images/page1_img1.jpg" alt="">
        </div>
        <div class="grid_6">
          <h2>Лучшие идеи <br> для ваших праздников</h2>
          <div class="row">
            <div class="grid_3">
              <img src="static/images/page1_img2.jpg" alt="">
            </div>
            <div class="grid_3">
              <img src="static/images/page1_img3.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="grid_10 preffix_1">
        <div class="block1">
          <div class="block1_title">
            Для качественного отдыха, требуется тщательная подготовка.
              <span>Ваши гости будут приятно удивлены разнообразной программой.</span>
          </div>
          <!--<a href="#" class="btn">View Portfolio</a>-->
        </div>
      </div>
      
    </div>
  </div>
  <div class="shuffle-group">
    <div class="container">
      <div class="row">
        <div class="grid_8">
           <div data-si-mousemove-trigger="100" class="shuffle-me">
            <a href="#" class="info"><div class="shuffle_title">Дни Рождения</div></a>
            <div class="images">
              <img src="static/images/page1_img4.jpg" alt="">
              <img src="static/images/shuffle_1.jpg" alt="">
              <img src="static/images/shuffle_2.jpg" alt="">
            </div></div>
        </div>
        <div class="grid_4">
           <div data-si-mousemove-trigger="100" class="shuffle-me shuff__1">
            <a href="#" class="info"><div class="shuffle_title">Свадьбы</div></a>
            <div class="images">
              <img src="static/images/page1_img5.jpg" alt="">
              <img src="static/images/shuffle_3.jpg" alt="">
              <img src="static/images/shuffle_4.jpg" alt="">
            </div></div>
             <div data-si-mousemove-trigger="100" class="shuffle-me shuff__1">
            <a href="#" class="info"><div class="shuffle_title">Корпоративные праздники </div></a>
            <div class="images">
              <img src="static/images/page1_img6.jpg" alt="">
              <img src="static/images/shuffle_5.jpg" alt="">
              <img src="static/images/shuffle_6.jpg" alt="">
            </div></div>
        </div>
        <div class="grid_12">
          <h3>У НАС ТРИ ПАКЕТА С ЦЕНАМИ ДЛЯ ЮБИЛЕЕВ И ДНЕЙ РОЖДЕНИЯ</h3>
          <img src="static/images/page1_img7.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <p class="text1"></p>
            <p class="text1 offset__1">
            <strong>1.Пакет "ЭКОНОМ"</strong> - услуги ведущего или тамады и диджея.<br>
            Программа длится 4 часа<br>
            (аппаратура входит в стоимость) &ndash; <b>230 евро</b></p>
            <p class="text1 offset__1">
            <strong>2.Пакет "КЛАССИКА"</strong> - услуги ведущего или тамады и диджея.<br>
            Более яркая и красочная программа в театрализованном стиле<br>
            Программа длится 5 - 6 часов<br>
            (аппаратура входит в стоимость) &ndash; <b>280 евро</b></p>
            <p class="text1 offset__1">
            <strong>3. Пакет "СУПЕР МАКСИ"</strong> - услуги ведущего или тамады и диджея.<br>
            Программа длится 6 часов<br>
            театрализованная программа с выступлением артистов разных жанров и <br>еще много интересного по заказу клиента<br>
            (каждый случай обговаривается особо)<br>
            (аппаратура входит в стоимость) &ndash; <b>400 евро</b></p>

            <p class="text1 offset__1">
            <strong>Свадьбы</strong> - от 250 до 600 евро.
            В зависимости от пожелания клиента
            выкуп невесты - 30 евро</p>

            <p class="text1 offset__1">
            <strong>Корпоративы  и другие праздники</strong> - от 300 до 1000 евро в зависимости от пожелания клиента</p>

            <p class="text1 offset__1">
            <strong>Детские дни рождения</strong> - 40 евро час. С ростовой куклой 60 евро час</p>

            <p class="text1 offset__1">
            <strong>Заказ деда мороза и снегурочки на дом</strong><br>
            <strong>для детей:</strong><br>
                                    &nbsp;&nbsp;&nbsp;25 евро - Йыхви, Кохтла-Ярве<br>
                                    &nbsp;&nbsp;&nbsp;30 евро - Силламяе<br>
                                    &nbsp;&nbsp;&nbsp;40 евро - Нарва<br>
                                    &nbsp;&nbsp;&nbsp;<i>программа длится 25-30 минут</i><br>
            <strong >для взрослых:</strong><br>
                                     &nbsp;&nbsp;&nbsp;50 евро - Йыхви, Кохтла-Ярве<br>
                                     &nbsp;&nbsp;&nbsp;55 евро - Силламяе<br>
                                     &nbsp;&nbsp;&nbsp;65 евро - Нарва<br>
                                     &nbsp;&nbsp;&nbsp;<i>программа длится 45 - 60 минут</i>
            </p>

              <p class="text1 offset__1">
                <strong>Выпускные</strong> - цены обговариваются при встрече.</p>

              <p class="text1 offset__1">
            Цены  можно обговорить и договориться. <br>
                  Мы всегда найдем для вас подходящее решение.</p>

          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="container gallery">
    <div class="row">
      <div class="grid_8">
        <h4>Последние события</h4>
        <div class="row">
          <div class="grid_4">
            <div class="view">  
              <img src="static/images/page1_img8.jpg" alt="" />  
              <div class="mask">
                <a href="static/images/gallery/big1.jpg" class="info fa fa-search" title="Full Image"></a>  
              </div>  
            </div>   
          </div>
          <div class="grid_4">
            <div class="view">  
              <img src="static/images/page1_img9.jpg" alt="" />  
              <div class="mask">
                <a href="static/images/gallery/big2.jpg" class="info fa fa-search" title="Full Image"></a>  
              </div>  
            </div>   
          </div>
          <div class="grid_4">
            <div class="view">  
              <img src="static/images/page1_img10.jpg" alt="" />
              <div class="mask">
                <a href="static/images/gallery/big3.jpg" class="info fa fa-search" title="Full Image"></a>
              </div>  
            </div>   
          </div>
          <div class="grid_4">
            <div class="view">  
              <img src="static/images/page1_img11.jpg" alt="" />  
              <div class="mask">
                <a href="static/images/gallery/big4.jpg" class="info fa fa-search" title="Full Image"></a>  
              </div> 
            </div>   
          </div>
        </div>
      </div>
      <div class="grid_4">
        <h4>Фотоуслуги</h4>

            <div class="">
                <p>
                    <strong>СВАДЕБНЫЙ ПАКЕТ «ПОЛНЫЙ»</strong><br>
                    • до 12 часов съемки<br>
                    • индивидуальные консультации<br>
                    • авторская обработка всех фото (около 550 шт)<br>
                    • индивидуально оформленный DVD-диск с фото<br>
                    • свадебное слайд-шоу<br>

                <strong>450 EURO</strong></p>
                </p>
                <p>
                    <strong>СВАДЕБНЫЙ ПАКЕТ «СТАНДАРТНЫЙ»</strong><br>
                    • до 8 часов съемки (обычно это от сборов до первого танца)<br>
                    • индивидуальные консультации<br>
                    • авторская обработка всех фото (около 400 шт)<br>
                    • индивидуально оформленный DVD-диск с фото<br>
                    • свадебное слайд-шоу<br>
                    <strong>350 EURO</strong>
                </p>


                <p>
                   <strong>СВАДЕБНЫЙ ПАКЕТ «МИНИМАЛЬНЫЙ»</strong><br>
                    • до 5 часов съемки<br>
                    • индивидуальные консультации<br>
                    • авторская обработка всех фото (около 300 шт)<br>
                    • запись всех файлов на индивидуально оформленный DVD-диск<br>
                    • свадебное слайд-шоу<br>
                    <strong>250 EURO</strong>
                </p>

                <div style="float:right;">
                  <a href="http://photoshake.eu/price/" target="_blank" title="Фотоуслуги"><img src="static/images/MG_11131.jpg"></a>
                </div>
            </div>
          <div style="float:right;">

                <h5><a href="http://photoshake.eu/price/" target="_blank" title="Фотоуслуги">Фотоагентство <strong>Kristina & Roman</strong></a></h5>

          </div>


      </div>
    </div>
  </div>
</section>

<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12"> 
        <div class="copyright"><a href="#" class="f_logo"><img src="static/images/f_logo.png" alt=""></a> &copy; <span id="copyright-year"></span>
          <div class="sub_copyright">
            Все права принадлежат Zabava OÜ
          </div>
        </div>
      </div>
    </div>

  </div>  
</footer>
<a href="#" id="toTop" class="fa fa-chevron-up"></a>
</div>
</body>

</html>

